/api-reciclagem
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Diretório de build do Go
/build/

# Ignorar dependências do módulo Go
/go.sum

# Ignorar arquivos de cache e build temporário
*.out
*.log

# Arquivos relacionados ao Docker
docker-compose.override.yml
docker-compose.yml
Dockerfile

# Ignorar volumes e dados gerados pelos containers Docker
db-data/
*.pid

# Arquivos de ambiente (variáveis sensíveis)
.env

# Diretórios de cache de IDEs
.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

*.test

coverage.out
